.jumbotron{
			width: 600px;
			text-align: center;
			margin-right: auto;
			margin-left: auto;
			margin-top:20px;
		}
		input,select{
			margin-bottom: 5px;
		}
		.selecionado{
			background:yellow;
			font-weight: bold;
		}
.title{
	background:red;
}
.content{
	background:green;
}
.cc{
	width: 600px;
			text-align: center;
			margin-right: auto;
			margin-left: auto;
			margin-top:20px;
}
.load{
	color:red;
	text-align: center !important;
	margin-top:30%;
	margin-left:50%;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}