<!DOCTYPE html >
<html ng-app="listaTelefonica">
<head>
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-locale_pt-br.js"></script>
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/listaTelefonicaCtrl.js"></script>
	<script type="text/javascript" src="js/services/rankingApiIbge.js"></script>
	<script type="text/javascript" src="js/services/estadosApiIbge.js"></script>
	<script type="text/javascript" src="js/value/configValue.js"></script>
	<script type="text/javascript" src="js/services/serialGenerateService.js"></script>
	<script type="text/javascript" src="js/Config/SerialGenerateConfig.js"></script>
	<script type="text/javascript" src="js/Filters/filters.js"></script>
	<script type="text/javascript" src="js/Filters/filterLenghtName.js"></script>
</head>
<body  ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<input class = "form-control" type="text" name="busca" ng-model="buscando" placeholder="O que você deseja buscar?">
		<table class = "table">
			<tr>
				<th></th>
				<th><a href="" ng-click ="ordernarPor('nome')">Nome</a></th>
				<th><a href="" ng-click="ordernarPor('telefone')">Telefone</a></th>
				<th>Operadora</th>
				<th>Data</th>
				<th></th>
			</tr>
			<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:{nome:buscando} | orderBy:ordenado:ordem">
				<td><input type="checkbox" name="select" ng-model="contato.selecionado"></td>
				<td>{{contato.nome | filterNome | lengthName:2}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td>{{contato.data | date:'dd/MM/yyyy HH:mm:ss'}}</td>
				<td><div style="width: 20px;height: 20px" ng-style="{'background-color': contato.cor}"></div></td>
			</tr>
		</table>
		<hr/>		
		<form name="contatoValid">
			<input class="form-control" type="text" name="nome" ng-model="contato.nome" placeholder="Nome" ng-required="true" ng-minlength="10">
			<input class="form-control" type="text" name="telefone" ng-model="contato.telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">			
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' +(operadora.preco | currency) + ' )' group by operadora.categoria for operadora in operadoras | orderBy:'nome'" ng-required="true">
				<option value="">Selecione uma operadora...</option>
			</select>
		</form>
		<button class = "btn btn-primary btn-block" ng-click="inserir(contato)" ng-disabled="contatoValid.$invalid">Adicionar um contato</button>	
		<button class = "btn btn-danger btn-block" ng-click="apagar(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar contatos</button>

		<div ng-show="contatoValid.nome.$error.required && contatoValid.nome.$dirty">
			Por favor, preencha o nome!
		</div>	
		<div ng-show="contatoValid.nome.$error.minlength ">
			O valor mínimo são 10 caracteres.
		</div>
		<div ng-show="contatoValid.telefone.$error.required && contatoValid.telefone.$dirty">
			Por favor, preencha o telefone!
		</div>
		<div ng-show="contatoValid.telefone.$error.pattern ">
			O telefone deve ter o seguinte formato 00000-0000.
		</div>
		
	</div>
</body>
</html>